.axis path,
body {
  font: 10px sans-serif;
}
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

p {
  font: 15px sans-serif;
}


.button1 {
  display: inline-block;
  padding: .2em;
  background-color: steelblue;
  text-decoration: none;
  color: white;
}

.button2 {
  display: inline-block;
  padding: .2em;
  background-color: red;
  text-decoration: none;
  color: white;
}

.hvr-fade1 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
        
.hvr-fade1:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: darkblue;
  color: white;
}

.hvr-fade2 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
        
.hvr-fade2:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: darkred;
  color: white;
}

.bar2 {
  fill: steelblue;
}

.bar text {
  fill: #999999;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar:hover {
  fill: brown;
}

.bar2:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}

